* {
    font-family: 'Economica', sans-serif;
}

html {
    background-image: unset;
    background-color: #dee4ee;
    height: unset;
}

h2 {
    color: #576775;
    font-size: 50px;
    font-weight: normal;
    margin: 40px 0 0 40px;
    padding-bottom: 10px;
    border-bottom: 5px solid #788d9c;
    width: 90%;
}

.no_items {
    margin: 40px 0 0 40px;
    font-size: 30px;
}

footer {
    color: #576775
}

@media (max-width: 768px) {
    h2 {
        width: 80%;
    }
}